<h1>{{ petition_data['title'] }}</h1>

<h3>Summary</h3>
<p>{{ petition_data["summary"] }}</p>

<form method="post" action="{{ url_for('petition_update', id = petition_data['id']) }}">
	Concept: 
	<select name="add_concepts">
		{% for concept in concepts_data %}
			<label for="{{ concept['id'] }}"></label>
			<option value="{{ concept['id'] }}">{{ concept["label"] }}</option>
		{% endfor %}
	</select>
	<button name="update" value="add">Add</button>
	<ul>
		{% for concept in petition_data['concepts']%}
			<li>
				<label for="{{ concept['id'] }}">{{ concept['label'] }}</label>
				<input id="{{ concept['id'] }}" name="remove_concepts" type="checkbox" value="{{ concept['id'] }}">
			</li>	
		{% endfor %}
	</ul>
	<button name="update" value="remove">Remove</button>
	

</form>

<a href="{{ url_for('petition', id = petition_data['id']) }}">Back to petition detail page</a>

