{% extends "layout.html" %}
{% block body %}

<h1>Petition details</h1>

<h3><a href="{{ url_for('petition_edit', id = data['id']) }}">Edit</a></h3>

<dl>
	<dt>Title</dt>
	<dd>{{ data["title"] }}</dd>

	<dt>Summary</dt>
	<dd>{{ data["summary"] }}</dd>
	
	<dt>Index Status</dt>
	{% if data['index_label'] %}
		<dd class="index-flag">{{ data["index_label"] }}</dd>
	{% else %}
		<dd class="index-flag">Requires indexing</dd>
	{% endif %}

	<dt>Petition Status</dt>
	<dd>{{ data["status"] }}</dd>

	<dt>Created</dt>
	<dd>{{ data["created"] }}</dd>

	<dt>Updated</dt>
	<dd>{{ data["updated"] }}</dd>

	<dt>Link</dt>
	<dd><a href="{{ data['external_url'] }}">{{ data['external_url'] }}</a></dd>

	<dt>Concepts</dt>
	<dd>
		<ul>
			{% for concept in data["concepts"] %}
				<li>
					<a href="http://{{ endpoint }}/concepts/{{ concept['id'] }}">{{ concept["label"] }}</a>
				</li>
			{% endfor %}
		</ul>
	</dd>

	<dt>Constituencies</dt>
	<dd>
		<ul>
			{% for constituency in data["constituencies"] %}
			<li><a href="{{ url_for('constituency', id = constituency['id']) }}">{{ constituency["constituency_label"] }} ({{ constituency["number_of_signatures"] }})</a></li>
			{% endfor %}
		</ul>
	</dd>
</dl>

{% endblock %}
